/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* ***** header ***** */
header {
    height: 25px;
    background-color: rgb(219, 219, 219);
    display: flex;
    padding: 0 10px;
    border-radius: 5px;
}

header .btn {
    width: 12px;
    height: 12px;
    border-radius: 20px;
    cursor: pointer;
}

.container-window-btn {
    width: 7%;
    height: 25px;
    position: fixed;
    top: 0;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
    margin: 0 8px;
}

.green {
    background-color: green;
}

.container-zoom-id {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meeting-id {
    color: rgb(77, 77, 77);
}

.id-number {
    background-color: white;
    width: 100px;
    height: 15px;
    padding: 3px;
    margin-left: 5px;
}

.privacy {
    background-color: gray;
    width: 100%;
    height: 100%;
}

/* ***** main ***** */
main {
    background-color: black;
    width: 100%;
    height: calc(100vh - 85px);
    padding: 10px;
}

.main-option {
    display: flex;
    justify-content: flex-end;
}

main .btn {
    background: linear-gradient(#3d3d3d, #1f1f1f);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
}

.view i {
    margin-right: 10px;
}

.container-main {
    color: white;
    display: flex;
    height: 100%;
}

.container-left, .container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5%;
    align-items: center;
}

.container-left i, .container-right i {
    font-size: 40px;
    color:rgb(77, 77, 77);
}

.container-right i {
    color: rgb(75, 154, 245);
}

.container-video {
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
}

.box {
    width: calc(100% / 5 - 5px);
    height: calc(100% / 5 - 5px);
    background-color: white;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}

.box .name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3px;
    font-size: 12px;
}
.box.border {
    border: 4px solid yellow
}

/* ***** footer ***** */
footer {
    height: 60px;
    width: 100%;
    background: linear-gradient(#3d3d3d, #1f1f1f);
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer-left {
    width: 20%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.container-footer-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-right: 30px;
}

.footer-left .container-footer-btn {
    margin-right: 15px;
}

.container-footer-btn>span {
    font-size: 12px;
}

.container-footer-btn i {
    font-size: 26px;
    margin-bottom: 3px;
}

.footer-left>i {
    margin-right: 30px;
}

.footer-center {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}

.footer-center>i {
    margin-right: 30px;
    align-self: center;
}

.partecipanti>i>span {
    position: relative;
    top: -12px;
}

.share {
    margin-right: 5px;
}

.share i {
    color: rgb(35, 175, 0);
}

.container-footer-btn>i>i {
    font-size: 10px;
}

.container-footer-btn>i>span {
    font-size: 10px;
}

.polling i {
    transform: rotate(270deg);
}

.container-footer-btn .puntini {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-right {
    width: 8%;
    height: 100%;
    color: red;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ***** debug ***** */