/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* ***** header ***** */
header {
    height: 25px;
    background-color: rgb(219, 219, 219);
    display: flex;
    padding: 0 10px;
    border-radius: 5px;
}

header .btn {
    width: 12px;
    height: 12px;
    border-radius: 20px;
    cursor: pointer;
}

.container-window-btn {
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
    margin: 0 8px;
}

.green {
    background-color: green;
}

.container-zoom-id {
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meeting-id {
    color: rgb(77, 77, 77);
}

.id-number {
    background-color: white;
    width: 100px;
    height: 15px;
    padding: 3px;
    margin-left: 5px;
}

.privacy {
    background-color: gray;
    width: 100%;
    height: 100%;
}

/* ***** main ***** */
main {
    background-color: black;
    width: 100%;
    height: calc(100vh - 25px);
    padding: 10px;
}

.main-option {
    display: flex;
    justify-content: flex-end;
}

main .btn {
    background: linear-gradient(#3d3d3d, #1f1f1f); 
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
}

.view i {
    margin-right: 10px;
}

.container-main {
    color: white;
    display: flex;
    height: 100%;
}

.container-left, .container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5%;
    align-items: center;
}

.container-left i, .container-right i {
    font-size: 40px;
    color:rgb(77, 77, 77);
}

.container-right i {
    color: rgb(75, 154, 245);
}

.container-video {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: calc(100% / 5 - 5px);
    height: calc(100% / 5 - 5px);
    background-color: white;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}

.box .name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3px;
    font-size: 12px;
}
.box.border {
    border: 4px solid yellow
}


/* ***** debug ***** */